/*-----variables globales-----*/
:root{
    --fuente-global: 'Julius Sans One', sans-serif;
    --f-blanco: #ffff;
    --azulfuerte: #181626;
    --azul-menosfuerte: #181D26;
    --grisclaro: #BDBEBF;
    --gris: #374151;
    --negro: #000000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    position: sticky;
    align-items: center;
    padding: 10px 30px;
    background: var(--azulfuerte);
    top: 0;
}

.logo {
    height: 60px;
    padding: 0 0 0 1%;
}

.link-container ul {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  align-items: center;
  margin: 0;
  padding: 0;
}

.link {
  color: var(--f-blanco);
  font-size: 16px;
  text-decoration: none;
  font-weight: bold;
  margin: 0;
  padding: 8px 6px;
}

.link:hover {
    color: var(--grisclaro);
}

/*---------Menu dos-------------*/
.menu-dos{
    width: 35%;
    text-align: left;
    vertical-align: bottom;
    padding: 1% 0;
}

.link-dos {
    color: var(--azul-menosfuerte);
    font-size: 20px;
    margin-left: 1px;
    text-decoration: none;
    font-weight: bold;
}

.link-dos:hover {
    color: var(--gris);
}

ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0;
}

.menupropio {
    display: block;
    position: absolute;
    top: 23%;
    background: var(--f-blanco);;
    width: 250px;
    z-index: 100;
    
    padding: 0;
    box-shadow: 2px 2px 5px 0 var(--gris);
    border-radius: 5px;
    max-height: 0;
    transition: max-height 0.4s ease-out;
    overflow: hidden;
}

li:hover .menupropio {
    max-height: 700px;
    transition: max-height 0.4s ease-in;
}

body {
    font-family: var(--fuente-global);
    background-color: var(--f-blanco);
}

/*--------iconos--------------*/
.iconos {
    display: flex;
    gap: 20px;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 1px;
}

/*--------Contenedores y asi--------------*/
.form-section {
    max-width: 600px;
    margin: 8% auto;
    padding: 20px;
    background: var(--f-blanco);
    border-radius: 12px;
    box-shadow: 0 5px 9px var(--negro);
}

.producto-content{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto 1fr 50px;
    gap: 20px;
    padding: 20px;
}

.producto {
    max-width: 600px;
    margin: 30px;
    padding: 20px;
    background: var(--f-blanco);

}

h2, h3{
    text-align: center;
    margin-bottom: 10%;
    color: var(--azulfuerte);;
}

label {
    display: block;
    margin-bottom: 1%;
    font-weight: bold;
    color: var(--gris);
}

/*----------------------*/
.producto img {
    width: 100%;
    height: 200px;
    object-fit: contain;
    border-radius: 8px;
}

/*----------- Responsivo y asi -----------*/
@media (max-width: 768px) {

    header {
        flex-direction: column;
        align-items: flex-start;
    }

    .link-container {
        width: 100%;
        text-align: right;
        padding: 10px 15px;
    }

    .menu-dos ul {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    .menu-dos li {
        margin: 18px;
    }

    .producto-content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
        padding: 5px;
    }

    .producto {
        padding: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 170px;
    }

    .producto img {
        width: 100%;
        height: 150px;
        object-fit: cover;
    }

    button {
        width: 100%;
        padding: 12px 0;
    }
}
