* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #f2f2f2;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    background: #181626;
}

.logo {
    height: 60px;
    padding: 0 0 0 1%;
}

.link-container {
    width: 68%;
    text-align: right;
    vertical-align: bottom;
    padding: 2% 0;
}

.link {
    color: #f2f2f2;
    font-size: 16px;
    margin-left: 2%;
    text-decoration: none;
    font-weight: bold;
}

.link:hover {
    color: #BDBEBF;
}

/*---------Menu dos-------------*/

ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0;
}

.menupropio {
    display: block;
    position: relative;
    background: white;
    width: 250px;
    z-index: 100;
    top: 100%;
    padding: 0;
    box-shadow: 2px 2px 5px 0 gray;
    border-radius: 5px;
    max-height: 0;
    transition: max-height 0.4s ease-out;
    overflow: hidden;
}

li:hover .menupropio {
    max-height: 700px;
    transition: max-height 0.4s ease-in;
}

.menu-dos{
    width: 68%;
    text-align: left;
    vertical-align: bottom;
    padding: 1% 0;
}

.link-dos {
    color: #181D26;
    font-size: 20px;
    margin-left: 2%;
    text-decoration: none;
    font-weight: bold;
}

.link-dos:hover {
    color: #525559;
}

/*--------Contenedores y asi--------------*/
.form-section {
    max-width: 600px;
    margin: 8% auto;
    padding: 20px;
    background: #f2f2f2;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.producto-content{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: stretch;

}

.producto {
    max-width: 600px;
    margin: 30px;
    padding: 20px;
    background: #f2f2f2;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

h2, h3{
    text-align: center;
    margin-bottom: 10%;
    color: #181626;
}

label {
    display: block;
    margin-bottom: 1%;
    font-weight: bold;
    color: #374151;
}

input, textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #BDBEBF;
    border-radius: 8px;
    font-size: 16px;
}

/*----------Botones------------*/
button {
    display: block;
    margin: 0 auto;
    background-color: #181D26;
    color: white;
    padding: 10px 70px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 20px;
    transition: all 0.5s;
}

button:hover {
    background-color: #BDBEBF;
    color: #181D26;
}

/*----------------------*/
img {
    display: block;
    margin: 0 auto;
    max-width: 100%; 
}
